<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
<style>
    .blue-bold {
        font-weight: bold;
        color: blue;
    }
</style>
</head>
<body>
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Наши контакты:</h3>
    <span class="blue-bold">{{ flatpage.content|linebreaksbr }}</span>
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xkjxq5Tyv-Q?si=VqWs4ODbSUakFs6-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
